# - Indexing

In [1]:
a = "samosa pakora"
a

'samosa pakora'

In [2]:
# every character including space is an index and collectively called indices

In [3]:
a[0]

's'

In [4]:
a[1]

'a'

In [5]:
len(a)

13

In [6]:
a[13] #it will be an error because python starts counting from 0 not 1 therefore last index will be 12 and total indices are 13

IndexError: string index out of range

In [ ]:
a[1:6] #see S is missing because S is 0 not 1

In [ ]:
a[0:6] #now its complete

In [ ]:
a[-2] # now when we write minus sign - then it will start from the right side

In [ ]:
a[-1-:-6] # its an error because english is written left to right not right to left, see below line of code

In [ ]:
a[-6:-1]

In [ ]:
a[-6:13]

# Strings

In [ ]:
food = "biryani"

In [ ]:
len(food)

In [ ]:
food.capitalize() #to capitalize the 1st letter

In [ ]:
food.upper() # after typing food. press TAB for options and select upper

In [ ]:
food.lower()

In [ ]:
food.replace("b", "sh") ## use replace function to replace a selected index with another

In [ ]:
# counting a specific alphabet in a string
name = "baba ammar with Dr ammar tufail"
name
name.count("a")

## -Find the index number in a long string

In [ ]:
name = "baba aammar with Dr ammar tufail"
name.find("t")
name.find("b")
name.find("aa")

In [ ]:
# how to split a string
food = "i love samosa, pakora, biryani, and karahi"
food
food.split(",")

# Basic data Structure in Python

## 1- Tuple
## 2- List
## 3- Dictionaries
## 4- Set

# 1-Tuple
     -ordered collection of elements and are enclosed in round paranthesis
     -different kind of elements can be stores
     -once elements are stored you can not change them or they are unmutable

In [ ]:
tup1 = (1, "python", True, 2.5)
tup1
type(tup1) #type of tuple

#### -Indexing in Tuple

In [ ]:
tup1[0]
tup1[1]
tup1[2]
tup1[0:5]
tup1[0:4] #last element is EXCLUSIVE because it starts from zero 0

In [ ]:
# Elements in tuple
len(tup1)

In [ ]:
tup2=(2, "baba", 4.5, False)
tup2

In [ ]:
# concatinate is to add two or more tuples
tup1 + tup2 #adding both tuples

In [ ]:
tup1*2 + tup2 # concatinate plus repeat

In [ ]:
tup3=(20, 50, 50, 80, 95)
tup3

In [ ]:
min(tup3) #to get minimum value in tuple however it can only be done with a tuple of similar elements
max(tup3) #to get maximum value in tuple however it can only be done with a tuple of similar elements

 -How to add dashes after a specific heading/chapter

---

# 2-List
     -ordered collection of elements and are enclosed in square brackets []
     -once elements are stored you can change them or they are unmutable

In [ ]:
list1=[2, "baba", 4.5, False]
type(list1) #to see type
len(list1)  #to count length
list1[2]    #to index or find certain element in list

In [ ]:
list2=[3,5,"aamar", "codanics", 4078, 53.8, False]
list2

In [ ]:
list1+list2 #concatinating or adding

In [ ]:
list1*2 #repeating list

In [ ]:
#try typing TAB after list1. to see different functions
list1.reverse()
list1

In [ ]:
list1.append("Codanics youtube channel") #if typed .append twice then it will appear 2 times
list1

In [ ]:
 list1.count("Codanics youtube channel")

In [ ]:
list3=[20,30,35,50,15,80,40]
list3
len(list3)
list3.sort() # it will sort the list in ascending order
list3

In [ ]:
list1+list2
lists = list1+list2
lists

# 1-Dictionaries
     -An unordered collection of elements
     -key and value
     -curly brackets {}
     -they are mutateable

In [ ]:
#Food and their prices
food1 = {"samosa":30, "pakora":100,"raita":10,"salad":50,"chicken rolls":30} #Samose is KEY and price is VALUE and so on...
food1

In [ ]:
type(food1) #type is dictionary

In [ ]:
# Extract data from a dictionary
food1.keys() # for keys
keys1 = food1.keys()
keys1

In [ ]:
food1.values() #for values
values1 = food1.values()
values1

In [ ]:
#Adding new variable
food1["Tikki"]=10
food1

In [ ]:
# to update the values
food1["Tikki"]=15
food1

In [ ]:
food2={"Dates":50, "Choclates":200,"Sawayyan":1000}
food2

In [ ]:
#How to concatinate a dictionary
food1.update(food2)
food1

# 4-Sets
     -An unordered and unindexed collection of elements
     -No duplicates are allowed
     -curly brackets {}

In [ ]:
s1 = {1,2,2.2,5,"Codanics","Aammar","Faisalabad", True}
s1 #boolean variable are not shown

In [ ]:
#to add a value in a set
s1.add("Massub")
s1

In [ ]:
s1.add("Massub") #Massub will be shown only once
s1

In [ ]:
#to remove an element
s1.remove("Faisalabad")
s1