# Introduction to Python
## Basic commands

### 01_1st program

In [1]:
print(2+3)
print("Hello World!")
print("We are learning with Ammar")

5
Hello World!
We are learning with Ammar

### 02_operators

In [2]:
print(2+3)
print(3-1)
print(4*5)
print(10%3)

print(6/2)
print(6//2)
print(2**3)
print(3**2/2+4-1/2)

5
2
20
1
3.0
3
8
8.0

**PEMDAS**
*Paranthesis Exponent Multiplication Division Addition Subtraction*

**sequence will be left to right for M D & A S i.e. left will resovle first then right of equation or problem**

### 03_Strings

In [3]:
print("Hello World!")
print("We are learning with Ammar")
print('test for single code')
print("test for double code")
print("Hello")
print('test for single quote')
print("What's Up dude")
print("Massub Tehseen")

Hello World!
We are learning with Ammar
test for single code
test for double code
Hello
test for single quote
What's Up dude
Massub Tehseen

**Strings are non numeric arguments/variable like below**

### 04_Comments

**to put comment in multiple lines use ctrl+/**

In [4]:
#print("Hello World!")
#print("We are learning with Ammar")
#print('test for single code')
#print("test for double code")
#print(2+3)
#print("Hello") press ctrl+/ to comment out multiple lines

### 05_Variables

**Variables: objects containing specific values**
*for example x = 5 means x is a variable that contains a value of 5*

In [5]:
x = 5 #integer variable
print(x)
y = "I am learning python"
print(y) #string variable

x = x+10
print(x) #Now the previous x is updated to new x

#### Types of variables
type(x)
print(type(x)) #int = integer

print(type(y)) # str = string

5
I am learning python
15
<class 'int'>
<class 'str'>

**Rules to assign variables**
#1. The variables should contain letters, numers or underscores
#2. do not stat a variable with a number i.e. 2y = 5 is wrong
#3. do not add spaces in variable name
#4. Do not use key words used in functions like mean median test and/or break
#5. name should be short and descriptive
#6. case sensitivity be careful about lower and uppercase letters, better to use lowercase

In [6]:
fruit_basket = "mangoes, oranges"
print(fruit_basket)
print(type(fruit_basket))

mangoes, oranges
<class 'str'>

### 06_Input Variables

#Here an input is required

In [ ]:
name = input("what is your name? ")
age = input("How old are you? ")
greetings= "Hello!"
print(greetings, name, "you are still young")

### 07_Conditional and logical

**Application of logcial operators**

In [ ]:
anna_age=5
age_at_school=6
print(anna_age==age_at_school)

**input function and logical operator**

In [ ]:
age_at_school=6
anna_age=input("how old is anna? ") #input function
anna_age=int(anna_age) #if we dont convert str to int then the output will be False
print(type(anna_age))
print(anna_age==age_at_school) #logical operator

### 08_type conversion

In [ ]:
# x=10                #integer
# y=2.5               #float
# z="hello"           #string

**implicit type conversion**

In [ ]:
x=x*y
print(x, "type of x is ", type(x))

**explicit type of conversion**

In [ ]:
age=input("what is your age? ")
print(type(age))
#now convert it to int
age=input("what is your age? ")
age = int(age)
print(type(int(age))) #same as above line
print(type(age))

### 09_if_elif_else

In [ ]:
required_age_at_School=5
hammad_age=2

#can hammad go to school?

if hammad_age == required_age_at_School:
    print("hammad can join the school")
elif hammad_age > required_age_at_School:
    print("Hammad should join higher secondary school")
elif hammad_age <= 2:
    print("Hammad is stil a baby")
else: 
        print("hamamd can not join the school")

### 10_Functions

**There are three ways of defining a function**
*to execute the next way you must mask the previous one with # sign*

In [ ]:
#1st way to define a function

def print_codanics():
        print("learning python")
        print("learning python")
        print("learning python")
print(print_codanics)

#2nd way to define a function

def print_codanics():
     text = "learining python with ammar"
     print(text)
     print(text)
     print(text)

print_codanics()

#3rd way to define a function

def print_codanics(text):
     print(text)
     print(text)
     print(text)
print_codanics("learning python with ammar")

**defining a function with if elif and else statements**

In [ ]:
def school_calculator(age):
     if age==5:
         print("Hammad can join the school")
     elif age > 5:
         print("Hammad should go to higher school")
     else:
         print("Hammad is still a baby")
            
school_calculator(5)

**defining a function of future**

In [ ]:
def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)
future_predicted_age = future_age(18)
print(future_predicted_age)

### 11_Loops

**#while and for loops**

In [ ]:
#while loops

x=0
while(x<=5):
     print(x)
     x=x+1 #this argument is necessary otherwise loop will go infinity as it will keep writing 0

In [ ]:
#for loops
for x in range(5,10):
     print(x)

In [ ]:
#array is a set of similar variables in below days is an array of week days
#below "i" can also be replaced with "d" it does not matter its just a representation
iays=["Mon","Tue","Wed", "Thu","Fri","Sat","Sun"]

for i in days:
    #if(i=="Fri"):break #loop stops
    if(i=="Fri"):continue #skips i or d or the entity mentioned will be skipped  
    print(i)

### 12_Important Libraries

In [ ]:
# if you want to print the value of pi

import math
print("the value of pir is ", math.pi)

import statistics

x=[150,250,250,400]
print(statistics.mean(x))

#numpy, pandas are some of the important libraries

### 13_troubleshooting Python

In [ ]:
#print(we are learning python with ammar) Syntax error

#print(25/0) runtime error

name="Massub"
print("Hello name") #this is symentic error, it is our fault and we dont know where the code is wrong


#troubleshooting is easy if you understand the error type